In [2]:
import pandas  as pd
import numpy as np

moving_df = pd.read_excel("Moving_reasons.xlsx")

moving_df.head()

,Mobility_Period,Total_per_year,Change_in_marital_status,To_establish_own_household,Other_family_reason,New_job_or_job_transfer,To_look_for_work_or_lost_job,To_be_closer_to_work/easier_commute,Retired,Other_job-related_reason,...,Wanted_better_neighborhood/less_crime,Cheaper_housing,Foreclosure_eviction,Other_housing_reason,Relationship_with_unmarried_partner,To_attend_or_leave_college,Change_of_climate,Health_reasons,Natural_disaster,Other_reasons
0,2020-2021,27059,1287,2878,2481,2387,405,1170,227,78,...,1617,2408,128,1542,1067,824,202,434,87,1156
1,2019-2020,29780,1827,3171,2596,3399,520,1465,398,114,...,1233,1978,190,1889,1528,938,115,596,111,1046
2,2018-2019,31371,1555,3588,3252,3781,278,1932,305,367,...,936,2094,216,2110,N,814,226,733,173,1691
3,2017-2018,32352,1435,4073,3583,3341,492,1821,348,366,...,844,2551,215,2156,N,903,215,579,174,1605

In [3]:
moving_df.columns

Index(['Mobility_Period', 'Total_per_year', 'Change_in_marital_status',
       'To_establish_own_household', 'Other_family_reason',
       'New_job_or_job_transfer', 'To_look_for_work_or_lost_job',
       'To_be_closer_to_work/easier_commute', 'Retired',
       'Other_job-related_reason', 'Wanted_to_own_home,_not_rent',
       'Wanted_newer/better/larger_house_or_apartment',
       'Wanted_better_neighborhood/less_crime', 'Cheaper_housing',
       'Foreclosure_eviction', 'Other_housing_reason',
       'Relationship_with_unmarried_partner', 'To_attend_or_leave_college',
       'Change_of_climate', 'Health_reasons', 'Natural_disaster',
       'Other_reasons'],
      dtype='object')

In [4]:
import altair as alt

alt.Chart(moving_df).mark_bar().encode(
    x="Mobility_Period",
    y="Total_per_year")

alt.Chart(...)

In [15]:
moving_melt = pd.melt(moving_df, id_vars = "Mobility_Period",value_vars=['Change_in_marital_status',
       'To_establish_own_household', 'Other_family_reason',
       'New_job_or_job_transfer', 'To_look_for_work_or_lost_job',
       'To_be_closer_to_work/easier_commute', 'Retired',
       'Other_job-related_reason', 'Wanted_to_own_home,_not_rent',
       'Wanted_newer/better/larger_house_or_apartment',
       'Wanted_better_neighborhood/less_crime', 'Cheaper_housing',
       'Foreclosure_eviction', 'Other_housing_reason',
       'Relationship_with_unmarried_partner', 'To_attend_or_leave_college',
       'Change_of_climate', 'Health_reasons', 'Natural_disaster',
       'Other_reasons'], var_name = "Moving reason", value_name="Number who moved")

moving_melt.head()

  Mobility_Period               Moving reason Number who moved
0       2020-2021    Change_in_marital_status             1287
1       2019-2020    Change_in_marital_status             1827
2       2018-2019    Change_in_marital_status             1555
3       2017-2018    Change_in_marital_status             1435
4       2020-2021  To_establish_own_household             2878

In [38]:
moving_melt["Number who moved"] = moving_melt["Number who moved"].replace('N', np.NaN)

In [39]:
moving_melt["Number who moved"] = pd.to_numeric(moving_melt["Number who moved"])

In [40]:
moving_melt.groupby(["Mobility_Period","Moving reason"]).agg({"Number who moved":np.mean})

                                                               Number who moved
Mobility_Period Moving reason
2017-2018       Change_in_marital_status                                 1435.0
                Change_of_climate                                         215.0
                Cheaper_housing                                          2551.0
                Foreclosure_eviction                                      215.0
                Health_reasons                                            579.0
...                                                                         ...
2020-2021       To_establish_own_household                               2878.0
                To_look_for_work_or_lost_job                              405.0
                Wanted_better_neighborhood/less_crime                    1617.0
                Wanted_newer/better/larger_house_or_apartment            4661.0
                Wanted_to_own_home,_not_rent                             2020.0

[80 rows x 1 columns]

In [55]:
alt.Chart(moving_melt).mark_bar().encode(
x = alt.X("Moving reason", sort='-y'),
y = alt.Y( "Number who moved"),
column = "Mobility_Period"
)
#column = "Mobility_Period")

alt.Chart(...)

## Age and Sex Data Processing

Load in age and sex data 

We want to explore this data set so we are going to start by first seeing how population changed by state. This way, we can identify states that had interesting trends in population changes over time and focus in our analysis from there.

In [6]:
age_sex_df =pd.read_csv("2018_to_2021_Age_and_Sex_Cleaned.csv")

In [7]:
age_sex_df.head(30)

,Year,State,Age,Total Estimate,Total Percent Estimate,Male Estimate,Male Percent Estimate,Female Estimate,Female Percent Estimate
0,2018,Alabama,0-4,288589,0.059,149436,0.063,139153,0.055
1,2018,Alabama,5-9,290369,0.059,151958,0.064,138411,0.055
2,2018,Alabama,10-14,321430,0.066,164696,0.070,156734,0.062
3,2018,Alabama,15-19,332209,0.068,170299,0.072,161910,0.064
4,2018,Alabama,20-24,317810,0.065,161518,0.068,156292,0.062
5,2018,Alabama,25-29,332394,0.068,162850,0.069,169544,0.067
6,2018,Alabama,30-34,303582,0.062,148415,0.063,155167,0.062
7,2018,Alabama,35-39,295430,0.060,144980,0.061,150450,0.060
8,2018,Alabama,40-44,298050,0.061,141474,0.060,156576,0.062
9,2018,Alabama,45-49,309880,0.063,149523,0.063,160357,0.064
10,2018,Alabama,50-54,316293,0.065,153378,0.065,162915,0.065
11,2018,Alabama,55-59,332700,0.068,159550,0.067,173150,0.069
12,2018,Alabama,60-64,319472,0.065,150224,0.063,169248,0.067
13,2018,Alabama,65-69,269845,0.055,124624,0.053,145221,0.058
14,2018,Alabama,70-74,223551,0.046,102466,0.043,121085,0.048
15,2018,Alabama,75-79,152542,0.031,67149,0.028,85393,0.034
16,2018,Alabama,80-84,98483,0.020,39597,0.017,58886,0.023
17,2018,Alabama,85-,85242,0.017,27134,0.011,58108,0.023
18,2018,Alaska,0-4,52173,0.071,26424,0.069,25749,0.073
19,2018,Alaska,5-9,52544,0.071,26760,0.070,25784,0.073
20,2018,Alaska,10-14,49747,0.067,25225,0.066,24522,0.069
21,2018,Alaska,15-19,48514,0.066,24798,0.065,23716,0.067
22,2018,Alaska,20-24,49107,0.067,28121,0.073,20986,0.059
23,2018,Alaska,25-29,62616,0.085,34127,0.089,28489,0.080
24,2018,Alaska,30-34,55072,0.075,28444,0.074,26628,0.075
25,2018,Alaska,35-39,53482,0.073,27350,0.071,26132,0.074
26,2018,Alaska,40-44,43538,0.059,21886,0.057,21652,0.061
27,2018,Alaska,45-49,42487,0.058,22497,0.059,19990,0.056
28,2018,Alaska,50-54,46846,0.064,24912,0.065,21934,0.062
29,2018,Alaska,55-59,47300,0.064,24338,0.064,22962,0.065

In [8]:
grouped_df = age_sex_df.groupby(["Year","State"]).agg({"Total Estimate":'sum'})
grouped_df.head()

                 Total Estimate
Year State
2018 Alabama            4887871
     Alaska              737438
     Arizona            7171646
     Arkansas           3013825
     California        39557045

In [32]:
%matplotlib inline
import matplotlib.pyplot as plt

In [35]:
wide_df = grouped_df.unstack("State")#["Total Estimate"].reset_index()
wide_df.head()

      Total Estimate                                                \
State        Alabama  Alaska  Arizona Arkansas California Colorado
Year
2018         4887871  737438  7171646  3013825   39557045  5695564
2019         4903185  731545  7278717  3017804   39512223  5758736
2020         4893186  736990  7174064  3011873   39346023  5684926
2021         5039877  732673  7276316  3025891   39237836  5812069

                                                           ...               \
State Connecticut Delaware District of Columbia   Florida  ... South Dakota
Year                                                       ...
2018      3572665   967171               702455  21299325  ...       882235
2019      3565287   973764               705749  21477737  ...       884659
2020      3570549   967679               701974  21216924  ...       879336
2021      3605597  1003384               670050  21781128  ...       895376

                                                                              \
State Tennessee     Texas     Utah Vermont Virginia Washington West Virginia
Year
2018    6770010  28701845  3161105  626299  8517685    7535591       1805832
2019    6829174  28995881  3205958  623989  8535519    7614893       1792147
2020    6772268  28635442  3151239  624340  8509358    7512465       1807426
2021    6975218  29527941  3337975  645570  8642274    7738692       1782959


State Wisconsin Wyoming
Year
2018    5813568  577737
2019    5822434  578759
2020    5806975  581348
2021    5895908  578803

[4 rows x 51 columns]

In [99]:
for i in range(len(wide_df.columns)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [101]:
for state in wide_df.columns:
    print(state[1])

Alabama
Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
District of Columbia
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West Virginia
Wisconsin
Wyoming

In [92]:
wide_df.columns

Index(['Year', 'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object', name='State')

In [52]:
wide_df["Total Estimate"].reset_index()

State,Year,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2018,4887871,737438,7171646,3013825,39557045,5695564,3572665,967171,702455,...,882235,6770010,28701845,3161105,626299,8517685,7535591,1805832,5813568,577737
1,2019,4903185,731545,7278717,3017804,39512223,5758736,3565287,973764,705749,...,884659,6829174,28995881,3205958,623989,8535519,7614893,1792147,5822434,578759
2,2020,4893186,736990,7174064,3011873,39346023,5684926,3570549,967679,701974,...,879336,6772268,28635442,3151239,624340,8509358,7512465,1807426,5806975,581348
3,2021,5039877,732673,7276316,3025891,39237836,5812069,3605597,1003384,670050,...,895376,6975218,29527941,3337975,645570,8642274,7738692,1782959,5895908,578803